<nav class="navbar">
        <a class="navbar-brand">github api - user repos </a>
          <form [formGroup]="userForm" class="form-inline">
              <input class="form-control mr-sm-2" formControlName="username" type="search" placeholder="Search" aria-label="Search">
              <input  type="submit"  (click)="search()" value="search">

          </form>
</nav>

<div class="row">
    <div style="width:60%;display: inline-block;float:left;">
        <div class="container" *ngIf="bakwas" id="second">
            <div class="header">
              <div class="full-name">
                <span class="last-name">{{bakwas.name}}</span>
              </div>
              
              <div class="about">
                <span class="position" *ngIf="bakwas.bio">Bio </span>
                <span class="desc">
                  {{bakwas.bio}}   
              </span>
              </div>
            </div>
             <div class="details">
                <div class="section">
                            <div class="section__title">Projects & Repos </div> 
                            <hr>
                               <div class="section__list">
                                 <div class="section__list-item" *ngFor="let repo of repos;let i = index;">
                                   <div class="name">{{repo.name}}<button class="givepad" (click)="pickmeup(repo.name)">pick</button></div>
                                   <div class="text">
                                      <b style="color:brown;">Stars: {{repo.stargazers_count}}</b> || <b style="color:lightseagreen;">Forks : {{repo.forks}}</b> || <b style="color:goldenrod;">Langs : {{skills[i]}}</b><br>
                                      <b>description :- </b> {{repo.description}}
                                   </div>
                               </div>
                              </div>
               </div>
            </div>
    </div>
  

</div>

<div style="width:35%;display: inline-block;margin-left:10px;">
  <div class="container">
    <div class="section__title"> picked( {{picked.length}} )</div> 

    <div class="section">
        <p *ngFor="let pick of picked">
          {{pick}}
        </p>
    </div>
    </div>
</div>
</div>